@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sora:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --blue: #007BFF;
    --turquoise: #11D1D4;
    --salmon: #FF6F61;
    --black: #1F1F1F;
    --white: #FFF;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

p {
    text-align: justify;
}

.header .title h1 {
    color: var(--black);
    font-family: Sora;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 0 8%;
}

.navbar a {
    color: var(--black);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
    transition: .3s;
}

.navbar .links a:hover {
    color: var(--blue);
}

.navbar .links {
    display: flex;
    gap: 50px;
}

.navbar .logotipo {
    font-size: 30px;
    font-weight: 600;
    font-family: Sora;

    display: flex;
    flex-direction: row;
}

.navbar .logotipo .code {
    color: var(--blue);
}

.navbar .buttons {
    display: flex;
    gap: 14px;
}

.navbar .buttons a {
    padding: 8px 32px;
    background-color: var(--blue);
    font-family: Poppins;
    font-size: 14px;
    border: 2px solid var(--blue);
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

#deactivate {
    background-color: var(--white);
    color: var(--blue);
}

.navbar .buttons a:hover, #deactivate:hover {
    background-color: #005fc4;
    border-color: #005fc4;
    color: #fff;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    gap: 65px;
    padding: 160px;
}

.header .img {
    width: 50%;
    height: auto;
    margin-left: -50px;
}

.header .title h3 {
    color: #1F1F1F;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    margin-top: 32px;
}

main {
    padding: 0 8%;
}

main .top-topic,
main .center-topics,
main .bottom-topic {
    display: flex;
    flex-direction: row;
}

main .top-topic,
main .bottom-topic {
    align-items: center;
    justify-content: space-between;
    gap: 70px
}

main .top-topic h2,
main .center-topics h2,
main .bottom-topic h2 {
    color: #1F1F1F;
    text-align: justify;
    font-family: Sora;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 25px;
}

main .center-topics {
    gap: 70px;
    align-items: start;
    margin-top: 90px;
    margin-bottom: 90px;
}

main .center-topics .item {
    flex-wrap: wrap;
    flex: 1 30%
}

main .bottom-topic {
    margin-bottom: 100px;
}

hr {
    border: 3px solid;
    margin-bottom: 20px;
}

.number-topic {
    font-size: 50px;
}

#blue { border-color: var(--blue); }
#turquesa { border-color: var(--turquoise); }
#salmon { border-color: var(--salmon); }

.footer {
    background-color: var(--black);
    width: 100%;
    height: 200px;
}

body::-webkit-scrollbar {
    width: 5px;
    z-index: -1;
    overflow: scroll;
}

body::-webkit-scrollbar-track {
    background: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: #555555;
    border-radius: 0px;
    border: 1px solid transparent;
    z-index: -1;
}