@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sora:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

    background-color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    /* font-family: 'Sora', sans-serif; */
}

p {
    text-align: justify;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    gap: 65px;
    padding: 160px;
}

.header .img {
    width: 45%;
    height: auto;
}

main {
    padding: 0 8%;
}

main .center-topics, main .bottom-topic {
    display: flex;
    flex-direction: row;
}

main .center-topics .text {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #1f1f1f;
    width: 100%;
    height: 200px;
}

/* teste do scroll */
body::-webkit-scrollbar {
    width: 5px; /* Largura da barra de rolagem completa */
    z-index: -1;
    overflow: scroll;
}

body::-webkit-scrollbar-track {
    background: transparent; /* Deixar a área de rastreamento transparente */
}

body::-webkit-scrollbar-thumb {
    background-color: #1f1f1f; /* Cor do polegar da barra de rolagem */
    border-radius: 0px; /* Arredondamento do polegar da barra de rolagem */
    border: 3px solid transparent; /* Cria um espaço em torno do polegar da barra de rolagem */
    z-index: -1; /* Coloca a barra de rolagem na frente do conteúdo */
}
